<clr-alert [clrAlertType]="'alert-danger'" *ngIf="notification">
  <div class="alert-item">
        <span class="alert-text">
            {{notification}}
        </span>
  </div>
</clr-alert>
<button type="button" (click)="showAddProduct = true" class="btn btn-sm btn-secondary">Add Product</button>
<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column style="width: 35px"></clr-dg-column>
  <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
  <clr-dg-column [clrDgField]="'price'">Price</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-placeholder>No Results!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let product of products; let i = index">
    <clr-dg-cell>{{i + 1}}</clr-dg-cell>
    <clr-dg-cell>{{product.name}}</clr-dg-cell>
    <clr-dg-cell>{{product.price}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
          <clr-icon shape="ellipsis-horizontal"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <button type="button" (click)="edit(product, i)" clrDropdownItem>Edit</button>
          <div class="dropdown-divider"></div>
          <button type="button" (click)="delete(product.id, i)" clrDropdownItem>Delete</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <span *ngIf="pager.totalItems">
    {{pager.firstItem + 1}} - {{pager.lastItem + 1}}
    of {{pager.totalItems}} products
    </span>
    <clr-dg-pagination #pager [clrDgPageSize]="rows"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-product-add *ngIf="showAddProduct" [show]="showAddProduct" (hide)="closeDialog($event)"></app-product-add>
<app-product-edit *ngIf="showEditProduct" [show]="showEditProduct" [product]="product"
                 (hide)="closeDialog($event)"></app-product-edit>
