<clr-modal [(clrModalOpen)]="show" (clrModalOpenChange)="closeDialog(false)">
  <h3 class="modal-title">New Product</h3>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save(productForm)" [formGroup]="productForm" class="dialog-content">
      <div class="form-group">
        <label class="required" for="name">Product Name</label>
        <input type="text" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label class="required" for="price">Product Price</label>
        <input type="number" id="price" formControlName="price">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Save</button>
        <button type="button" class="btn btn-outline" (click)="closeDialog(false)">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>
