<clr-modal [(clrModalOpen)]="show" (clrModalOpenChange)="closeDialog(false)">
  <h3 class="modal-title">New Day</h3>
  <div class="modal-body">
    <form novalidate (ngSubmit)="save(dayForm)" [formGroup]="dayForm" class="dialog-content">
      <div class="form-group">
        <label class="required" for="day">Day Name</label>
        <input type="text" id="day" formControlName="day">
      </div>
      <div class="form-group">
        <label for="from">From</label>
        <input type="time" id="from" formControlName="from">
      </div>
      <div class="form-group">
        <label for="to">To</label>
        <input type="time" id="to" formControlName="to">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="dayForm.invalid">Save</button>
        <button type="button" class="btn btn-outline" (click)="closeDialog(false)">Cancel</button>
      </div>
    </form>
  </div>
</clr-modal>
