<clr-alert [clrAlertType]="'alert-danger'" *ngIf="notification">
  <div class="alert-item">
        <span class="alert-text">
            {{notification}}
        </span>
  </div>
</clr-alert>
<button type="button" (click)="showAddDay = true" class="btn btn-sm btn-secondary">Add Day</button>
<clr-datagrid [clrDgLoading]="loading">
  <clr-dg-column style="width: 35px"></clr-dg-column>
  <clr-dg-column [clrDgField]="'day'">Day</clr-dg-column>
  <clr-dg-column [clrDgField]="'from'">From</clr-dg-column>
  <clr-dg-column [clrDgField]="'to'">To</clr-dg-column>
  <clr-dg-column></clr-dg-column>

  <clr-dg-placeholder>No Results!</clr-dg-placeholder>

  <clr-dg-row *clrDgItems="let day of days; let i = index">
    <clr-dg-cell>{{i + 1}}</clr-dg-cell>
    <clr-dg-cell>{{day.day}}</clr-dg-cell>
    <clr-dg-cell>{{day.from}}</clr-dg-cell>
    <clr-dg-cell>{{day.to}}</clr-dg-cell>
    <clr-dg-cell>
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" clrDropdownTrigger>
          <clr-icon shape="ellipsis-horizontal"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen>
          <button type="button" (click)="edit(day, i)" clrDropdownItem>Edit</button>
          <div class="dropdown-divider"></div>
          <button type="button" (click)="delete(day.id, i)" clrDropdownItem>Delete</button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <span *ngIf="pager.totalItems">
    {{pager.firstItem + 1}} - {{pager.lastItem + 1}}
    of {{pager.totalItems}} days
    </span>
    <clr-dg-pagination #pager [clrDgPageSize]="rows"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<app-day-add *ngIf="showAddDay" [show]="showAddDay" (hide)="closeDialog($event)"></app-day-add>
<app-day-edit *ngIf="showEditDay" [show]="showEditDay" [day]="day"
                 (hide)="closeDialog($event)"></app-day-edit>
