<header class="header-3">
  <div class="branding">
    <a class="nav-link">
      <clr-icon shape="store"></clr-icon>
      <span class="title">Cart</span>
    </a>
  </div>
</header>
<nav class="subnav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/days" routerLinkActive="active">Work Days</a>
    </li>
  </ul>
</nav>